{% extends "master_template.html" %}

{% block title %}
My First project club 
{% endblock %}

{% comment %}
{% block content %}
<p><a href="/">Home</a> > </p>
<h1>Members Of the Club</h1>
<ul>
    {% for member in mymembers %}
    <li><a href='/members/details/{{member.id}}'>{{ member.first_name}} {{member.last_name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<p><a href="/">Home</a> > </p>
<h1>Members Of the Club</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>first_name</th>
        <th>last_name</th>
    </tr>
    {% for member in mymembers %}
    <tr>
        <td>{{member.id}}</td>
        <td><a href='/members/details/{{member.id}}'>{{member.first_name}}</a></td>
        <td>{{member.last_name}}</td>
        {% empty %}
        <p>No Members</p>
        {% endfor %}
    </tr>
</table>
{% endblock %}
{% endcomment %}


{% block content %}

<div class="mycard">
    <h1>Members</h1>
    <ul>
        {% for member in mymembers %}
        <li onclick="window.location = 'details/{{member.id}}'">{{member.first_name}} {{member.last_name}} </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
