{% extends 'master_template.html'%}

{% block title %}

Member Details - {{member.first_name}}

{% endblock %}

{% comment %}
{% block content %}
<p><a href="/">Home</a> > <a href="/members">members</a> > details </p>

<h2>Full Name : {{member.first_name}} {{member.last_name }}</h2>
<h2>Phone : {{member.phone}}</h2>
<h2>Joining Date - {{member.join_date}}</h2>

{% endblock %}
{% endcomment %}

{% block content %}
  <div class="mycard">
    <h1>Full Name :  {{ member.first_name }} {{ member.last_name }}</h1>
    <p>Phone : {{ member.phone }}</p>
    <p>Member since: {{ member.join_date }}</p>
  </div>
{% endblock %}  
