asgiref
backports.zoneinfo
bleach
certifi
charset-normalizer
Django
flake8
gunicorn
idna
Markdown
martor
mccabe
psycopg2-binary
pycodestyle
pyflakes
requests
six
sqlparse
typing-extensions
urllib3
webencodings
whitenoise
